*{
	margin: 0;
	padding: 0;
}

form{
	border: 2px solid black;
	width: 400px;
	border-radius: 10px;
	display: flex;
	padding: 10px;
	flex-direction: column;
	margin: 100px auto 0 auto;
}

form > div{
	display: flex;
	margin-bottom: 10px;
	width: 100%;
	justify-content: flex-start;
	border-bottom: 2px solid grey;
	padding-bottom: 5px;
}


form > div > label{
	margin-left: 10px;
}


input[type="submit"]{
	cursor: pointer;
}


#error{
	display: none;
	color: red;
	margin-bottom: 5px;
}